@charset "utf-8";
/* 최소 768이상 ~ 1024px */
@media screen and (min-width:768px) and (max-width:1199px){
   label.fa-times{display: none;}
   label.fa-bars{
    display: block;
  }
  
  /* 상단헤더서식 */
  .header_top,.gnb > ul, .free_ex article,
  .shop,.shop_slide,.story article, .instar,
  .f_nav, .f_info, address{
    width: 100%;
  }
  header{
    height: 130px;
  }
  .header_top h1{
    width: 150px;
  }
  .header-top h1 img{
    width: 100%;
  }
  .lnb > ul > li > a{
    font-size: 0.8rem;
  }

  /*검색폼 서식*/
  .header_top > fieldset{
   top:70px;
  }
  label.fa-search{
    font-size: 1.5rem;
  }
  label.fa-bars{
    display: block;
    color: #fff;
    position: absolute;
    top: 135px;
    font-size: 1.6rem;
    z-index: 300;
  }
  label.fa-bars{left: 10px;}
  /* 전체메뉴를 클릭시 체크박스가 체크되면서 체크박스의 바로뒤 헤더의 자손 .gnb의 높이를 변경하여 서브가 보이게한다. */
  #toggle:checked + header > .header_bottom{
    height:260px;
  }
  .header_bottom{
    transition: none;
  }
  .header_bottom:hover{
    height:260px;
  }
  /*gnb 서식*/
  .gnb{
    width: 100%;
  }
  .gnb > ul {
    display:flex;
    justify-content: flex-end;
  }
  .gnb > ul > li{
    line-height:20px;
    padding: 15px 30px 0px 0px;
  }
  .gnb > ul > li:last-child{
    padding-right: 20px;
  }
  .gnb > ul > li > a::after{
    top:-17px;
  }
  .gnb > ul > li:first-child > a::after{left:75px;}
  .gnb > ul > li:nth-child(2) > a::after{left:60px;}
  .gnb > ul > li:nth-child(3) > a::after{left:88px;}
  .gnb > ul > li:nth-child(4) > a::after{left:88px;}
  .gnb > ul > li:nth-child(5) > a::after{left:75px;}
  .gnb > ul > li:nth-child(6) > a::after{left:90px;}
  .gnb > ul > li:nth-child(7) > a::after{left:45px;}
  .gnb > ul > li:last-child > a::after{display: none;}
  .gnb > ul > li > a{
    font-size: 1rem;
  }
  .sub{
   left:-12px;
   
  }
  
  .sub > li > a{
    font-size:0.8rem;
  }
  
  
  /*메인 슬라이드*/
  
  main .slide img{
    height: 400px;
    object-fit: cover;/*이미지 크기 비율을 높이
    기준으로 맞춤(가로가 짤림)*/
  }

  /* 무료체험*/
  .free_ex article{
    transform: translateY(50px);
  }
  .free_ex article > h3 + img{
    max-width: 320px;
    padding-left: 6%;
  }
  .free_ex{
    height: 530px;
  }
  .free_ex_right{padding-top:40px;}
  .free_ex_right > h3{
    padding-top: 14px;
    font-size: 2rem;
  }
  .free_ex_right p{
    padding-bottom: 50px;
    font-size: 1.2rem;
  }
  /*하림펫 쇼핑하러 가기*/
  .shop{padding: 30px 0px 120px 0px;}
  .shop > h3{font-size: 2rem;}
  .shop > h3 img{width: 34px;}
  .p_center{margin-bottom: 80px;}
  .shop_slide ul{padding: 0px;}
  .shop_slide ul > li{
    text-align: center;
  }
  .shop_slide .swiper-slide img{
    float: none;
    width: 240px;
  }

  /*상품 상세정보 서식*/
  .info{
    font-size: 1rem;
    transform: none;
  }
  .info > h3{font-size: 1rem;}
  .info > p{line-height: 180%;}
  .info > .price{
    padding-top: 20px;
    font-size: 1rem;
  }
  

  /* 스토리 서식 */
  .story{
    text-align: center;
    padding-bottom: 130px;
    height: 400px;
  }
  .story article{
  position: relative;
  
  }
  .story article h3{
    font-size: 2rem;
    
  }
  .story_left{
    width: 100%;
    text-align: center;
    position: absolute;
    right: 220px;
    top: -5px;
  }
  
  .story .s_img{
    position: absolute; 
    top: 96px; right:37px;
    padding: 0px 7% 0px 0%;
    }
  .story img{
    max-width: 320px;
    padding-left:  2.1%;
  }
  .story_left p{
    font-size: 1rem;
    line-height: 180%;
    padding-bottom: 50px;
  }

  /*인스타 갤러리*/
  .instar{
    padding: 60px 0px 30px 0px;
  }
  .instar > h3{
    font-size: 1.8rem;
  }
  .id_name{font-size: 1rem;}
  
  .gallery{
    width: 70%;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: repeat(3,170px);
  }
    
  .gallery li:nth-child(10){display: none;}
  .gallery li:nth-child(11){display: none;}
  .gallery li:nth-child(12){display: none;}
  
  /* 푸터서식 */
  
  footer{
    height: 400px;
  }
  .f_nav{position: relative;}
  .f_lnb{
    width:30%;
    margin: 0 auto;
    position: absolute;
    top: -3px;
  }
  .f_lnb > li:first-child a::after{
    left:105px;
  }
  .f_nav dl{
    width:100%;
    font-size:0.8rem;
    margin: 0 auto;
    position: absolute;
    top: 61px;left:350px;
    text-align: center;
  }
  .f_nav dt{
    margin-right:0.5rem;
    padding-left: 1%;
  }

  /*푸터정보 서식*/
  
  .f_info{
    width: 100%;
    text-align: center;
  }
  .f_info dl{
    flex-wrap: wrap;
    justify-content: center;
  }
  .f_info dd{
    width: 45%;
    font-size: 0.8rem;
    line-height: 30px;
    margin-top: 10px;
  }
  .number{font-size: 1.8rem;}
  .sns a{
    font-size: 1.5rem;
    padding: 0px 2%;
  }
  .sns{
    transform:translateY(8px);
  padding-right: 2.5%;
}
  /*패밀리 사이트 이동하기 서식*/
  .siteurl select{
    height:35px;  width:80%;
    font-size:1rem;
    text-align: center;
  }
  .siteurl{
    transform:translateY(4px);
    padding-right: 2.5%;
  }

  /*푸터주소 서식*/
  footer address{
    font-size:0.7rem;
    color:#ccc;
    line-height:20px;
   
  }
  footer address > .a_info{
    width:40%;
    padding-left: 10%;
  }
  footer address > .a_pay{
    width:30%;
    padding-left: 3%;
    
  }
}